name: Verify
permissions:
  contents: read
  pull-requests: write

env:
  SONAR_PROJECT_KEY: skodjob_kubetest4j

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache m2 repo
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1

      - name: Verify and sonar scan
        if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false)
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./mvnw verify -P integration -Dstyle.color=always \
            org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=$SONAR_PROJECT_KEY

      - name: Verify
        if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == true
        run: ./mvnw verify -P integration -Dstyle.color=always
